<h2>Filters:</h2>

<section class="holder">
  <h3>Categories:</h3>
  <div class="row categories">
    <ng-container *ngFor="let category of categoriesMap; trackBy: trackByFn">
      <button (click)="filterByCategory(category)" [class.active]="category.selected">{{ category.value }}</button>
    </ng-container>
  </div>

  <h3>Status:</h3>
  <div class="row statuses">
    <ng-container *ngFor="let status of statusesMap; trackBy: trackByFn">
      <button (click)="filterByStatus(status)"
              [class.active]="status.selected"
              [attr.data-test]="status.value">
        {{ status.value }}
      </button>
    </ng-container>
  </div>

  <button class="clear-filters" (click)="clearFilters()">Clear filters</button>
</section>
