@import "~src/variables";

.card {
  margin-top: $margin;

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .row {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  input[type="text"],
  textarea {
    outline: none;
    border: $default-border;
    padding: $block-padding;
    font-family: Tahoma, sans-serif;
    font-size: 14px;

    &:focus {
      box-shadow: 0 0 2px 2px #ccc;
    }

    &.ng-invalid.ng-touched {
      border-color: $error;
    }
  }
}
